header{
    background:linear-gradient(to right, #315ab4, #003bba);
    padding: 20px;
    text-align: center;
    text-shadow: whitesmoke;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
}
main{
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
}
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}
button{
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: cornflowerblue;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;

}